
@{
	ViewBag.Title = "Cookies";
	ViewBag.SideBar = "SearchBar";
	ViewBag.CurrentTab = "InfoTab";
	ViewBag.Description = "Информация об использовании файлов cookies и других технических данных";

}


<h2>Информация об использовании файлов cookies и других технических данных</h2>

<h3>Что такое cookie</h3>
<p>
	В зависимости от настроек вашего веб-браузера мы собираем информацию, которая автоматически передается нам браузером, когда вы посещаете наши сайты. Эта передача осуществляется посредством cookie-файлов. Данная информация, как правило, включает IP-адрес, в настоящее время присвоенный вашему компьютеру, тип вашей операционной системы и используемого веб-браузера.

	Cookie — это небольшой текстовый файл, который веб-сервер размещает на жестком диске вашего компьютера.

	Различают «сеансовые» и «постоянные» cookie-файлы.
</p>
<h3>Сеансовые cookie-файлы</h3>
<p>
	Мы используем сеансовые cookie-файлы для присвоения уникального идентификационного номера вашему компьютеру каждый раз, как вы посещаете один из наших сайтов. Сеансовые cookie-файлы удаляются после закрытия браузера. Они используются для поддержания функциональности наших сайтов.
</p>
<h3>
	Постоянные cookie-файлы
</h3>
<p>
	Когда это допустимо, мы используем постоянные cookie, которые не удаляются сразу после закрытия веб-браузера, но сохраняются на компьютере в течение определенного периода времени или пока вы их не удалите. Каждый раз, как вы посещаете наши сайты, наш веб-сервер распознает постоянные cookie, хранящиеся на жестком диске вашего компьютера. Присваивая вашему устройству уникальный идентификатор, мы создаем базу данных ваших действий и предпочтений.

	Вместе с тем, cookie-файлы не содержат ваших личных данных, а лишь фиксируют действия на вашем компьютере. Если вы переходите на наш сайт по ссылке, которая была отправлена на вашу электронную почту, или если вы создаете «идентификатор пользователя» во время одного из посещений, информация, предоставленная нашими cookie-файлами или cookie-файлами сторонних поставщиков услуг, может быть связана с информацией в наших записях, которая сделает возможной вашу личную идентификацию.
</p>
<h3>Согласие на использование cookie</h3>
<p>
	Сеансовые cookie-файлы не требуют вашего предварительного согласия, так как они необходимы для работы сайта и будут удалены после закрытия веб-браузера.

	Постоянные cookie-файлы, которые отслеживают ваши прошлые действия и предпочтения, но не являются необходимыми для работы сайта, требуют вашего предварительного согласия. Посещая наш сайт, вы соглашаетесь на использование постоянных cookie-файлов, если не измените настройки своего компьютера, чтобы эти cookie-файлы не сохранялись. То же самое относится к cookie-файлам третьих сторон.
</p>
<h3>Как изменить настройки cookie</h3>
<p>
	Настройка веб-браузера — бесплатный и эффективный способ управления cookie-файлами. Вы можете принять одно из следующих решений:

	<ul>
		<li>
			разрешить использование всех cookie-файлов, интегрированных в страницы. Примечание: с одной стороны, доступ к этим cookie-файлам получат лишь их издатели; с другой стороны, этот процесс не является необратимым, и впоследствии вы всегда можете удалить эти cookie-файлы (процедура управления cookie-файлами различается в зависимости от используемого браузера; пожалуйста, обратитесь к соответствующим инструкциям)
		</li>
		<li>
			заблокировать cookie-файлы на вашем устройстве. В таком случае мы обязаны предупредить, что навигация по сайту будет затруднена. Некоторые функции требуют использования cookie-файлов (например, для распознавания вашей операционной системы и предпочитаемого языка). Следовательно, мы не несем ответственности за неудобства, вызванные ненадлежащей работой наших сервисов из-за отключения cookie-файлов
		</li>
		<li>
			включить использование cookie-файлов по запросу в каждом конкретном случае
		</li>
		<li>
			принимать или отклонять cookie-файлы в зависимости от их издателя
		</li>
	</ul>
</p>
<p>
	Мы используем Google Analytics для сбора и анализа данных о том, каким образом посетители используют наш сайт. Эта информация включает в себя ваш IP-адрес, который передается на серверы Google и хранится там.

	Google создает отчеты о работе сайта и предоставляет другие услуги, связанные с использованием Интернета. Также Google может передавать эту информацию третьим лицам, если это требуется по закону, или когда эти лица обрабатывают информацию от имени Google. Google не связывает ваш IP-адрес с другой информацией, сохраненной Google. Просматривая данный веб-сайт, вы соглашаетесь с тем, что Google будет обрабатывать данные о просмотре веб-страниц, как описано выше. Вы все еще можете запретить это, отключив файлы cookie в браузере. Дополнительные сведения см. по адресу: http://www.google.com/intl/en/policies/technologies/cookies/

	В качестве альтернативы Вы можете отказаться от использования cookie-файлов Google Analytics для отслеживания вашей активности на всех веб-сайтах, пройдя по следующей ссылке: Google Analytics Opt-out Browser Add-on
</p>


<h3>Facebook и Вконтакте</h3>
<p>
	Мы используем плагины социальных сетей, чтобы делиться содержимым веб-сайта на Facebook и Вконтакте. Если вы уже посещали сайты социальных сетей, им будут доступны некоторые ранее сохраненные файлы cookie. В противном случае другие файлы cookie не будут добавлены. Страница поддержки Facebook, посвященная файлам cookie, доступна по адресу: https://www.facebook.com/help/206635839404055
</p>
